/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

:root{
    --primary-font: 'Roboto', sans-serif;
    --primary-color: #2639ED;
    --primary-color-dark: #1427cc;
    --primary-color-light: #DAE9FF;
    --secondary-color: #000000;
    --text-color: #565656;
    --container-width: 1200px;
    --text-white: #fff;
}

/* General Settings */
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: normal;
    color: var(--text-color);
    background: var(--body-clolor, #fff);
    line-height: 1.5;
}
main{
    width: 100%;
    min-height: 100vh;
}
img{
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6{
    color: var(--secondary-color);
}

/* Common CSS */
.container{
    width: 90%;
    max-width: var(--container-width);
    margin: 0 auto;
}

/* Header */
#main-header{
    color: var(--secondary-color);
    padding: 2rem 0;
}
#main-header .container{
    display: flex;
    align-items: center;
}
.header__logo{
    flex: 1;
}
.header__logo h3{
    font-size: 1.5rem;
}
.header__logo h3 span{
    font-weight: 700;
}
.header__nav{
    flex: 1;
}
.header__nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;

}
.header__nav ul li{
    padding: .25rem;
}
.header__nav ul li a{
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
    font-weight: 600;
}

/* Hero Section */
#hero{
    /* background: url('/img/hero_img.png') no-repeat;
    background-position: right top; */
}
#hero .container{
    display: flex;
    align-items: center;
    height: 100%;
    min-height: 540px;
}
.hero__text-area{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 5rem;
    position: relative;
}
.hero__text-area::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: url("/img/Dot\ Ornament.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.hero__text-area h1{
    font-size: 2.5rem;
    font-weight: 700;
}
.hero__text-area p{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 75%;
}
.hero__text-area button{
    display: inline;
    font-size: 1.2rem;
    color: var(--text-white);
    border: none;
    outline: none;
    background-color: var(--primary-color);
    padding: .75rem 1.25rem;
    border-radius: 2.5rem;
    transition: background .4s ease-in;
    cursor: pointer;
    width: 30%;
}
.hero__text-area button:hover{
    background-color: var(--primary-color-dark);
}
.hero__media-area{
    position: relative;
    flex: 1;
    align-self: flex-start;
    /* position: absolute;
    top: 0;
    right: 0; */
}
.hero__image{}
.hero__image img{
    border-bottom-left-radius: 200px;
}
.hero__image:before{
    content: "";
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: var(--primary-color-light);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-50%);
    z-index: -2;
}
.hero__image::after{
    content: "";
    width: 178px;
    height: 178px;
    background: #FFF5DB;
    display: block;
    position: absolute;
    left: 50%;
    bottom: -50%;
    transform: translate(-50%, -50%);
    border-bottom-right-radius: 100px;
    z-index: -2;
}

/* Our Clients Section */
#our-client{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
#our-client .container{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.our-client__text{
    flex: 1;
}
.our-client__text h3{
    font-size: 2.5rem;
    font-weight: 700;
}
.our-client__text p{}
.our-client__logos{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.our-client__logos img{}


/* Our Services Section */
#our-services{
    position: relative;
    min-height: 865px;
}
#our-services::after {
    content: "";
    width: 100%;
    height: 80%;
    display: block;
    background: #F4F9FF;
    border-top-left-radius: 150px;
    position: absolute;
    top: 50%;
    right: -25%;
    transform: translateY(-50%);
    z-index: -2;
}
#our-services .container{
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    gap: 25px;
    position: relative;
}
#our-services .container::after{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: url('/img/Dot\ Ornament.svg');
    background-repeat: no-repeat;
    background-position: bottom left;
    position: absolute;
    left: 0;
    bottom: 20%;
}
.our-services__col{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.our-services__text{
    padding-right: 50px;
}
.our-services__text h3,
.about__text h3,
.testimonial__intro h3{
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1.3;
    position: relative;
}
.our-services__text h3::after{
    content: "";
    width: 178px;
    height: 178px;
    background: #FFF5DB;
    border-top-left-radius: 50%;
    display: block;
    position: absolute;
    top: -40px;
    left: -40px;
    z-index: -2;
}
.our-services__col:nth-child(1){
    align-self: center;
}
.our-services__col:nth-child(2){
    align-self: flex-end;
}
.our-services__col:nth-child(3){
    align-self: flex-start;
    position: relative;
}
.our-services__col:nth-child(3)::after{
    content: "";
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 8px solid #FF007A;
    position: absolute;
    bottom: -8%;
    right: -37px;
    z-index: -2;
}
.our-services__card-item{
    /* min-width: 308px;
    min-height: 380px; */
    padding: 2.5rem 3.5rem;
    background: var(--text-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #F2F2F2;
    box-shadow: 0 0 3px -2px rgba(0,0,0,.4);
    border-radius: 2rem;
}
.our-services__card-item h5{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 30px;
}
.our-services__card-item .icon{
    width: 120px;
    height: 120px;
    border-radius: 1rem;
    background: var(--primary-color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.card-01 .icon{
    background: #F1F7FF;
}
.card-02 .icon{
    background: #FFF2F8;
}
.card-03 .icon{
    background: #FFF7E3;
}
.card-04 .icon{
    background: #DEFFEE;
}

/* Aout Section */
#about{
    margin-top: 75px;
    margin-bottom: 75px;
}
#about .container{
    display: flex;
    align-items: center;
    gap: 100px;
}
.about__media{
    flex: 1;
    position: relative;
}
.about__media::after{
    content: "";
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: block;
    background: #FFF5DB;
    position: absolute;
    right: -50px;
    bottom: -50px;
    z-index: -2;
}
.about__media img{}
.about__media img:nth-child(1){
    border-radius: 2rem;
}
.about__media img:nth-child(2){
    position: absolute;
    inset: 50%;
    transform: translate(-50%, -50%);
}
.about__text{
    flex: 1;
}
.about__text h3{
    margin-bottom: 2rem;
    position: relative;
}
.about__text h3::after{
    content: "";
    width: 178px;
    height: 178px;
    border-bottom-right-radius: 50%;
    background: #EFF1FF;
    display: block;
    position: absolute;
    left: -25px;
    top: -25px;
    z-index: -2;
}
.about__text p{}


/* Testimonail Section */
#testimonial{}
#testimonial .container{
    display: flex;
    flex-direction: column;
}
.testimonial__intro{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.testimonial__intro h3{
    margin-bottom: 15px;
}
.testimonial__intro p{}
.testimonial__area{
    display: flex;
}
.testimonial__comments{}
.testimonial__image{}
.testimonial__msg-body{}
.testimonial__msg-body h5{}
.testimonial__msg-body p{}
.testimonial__msg-body ul.testimonial__dots{}
.testimonial__msg-body ul.testimonial__dots li{}
.testimonial__clients{}

/* Newsletter Section */
#newsletter{}
#newsletter .container{}
.newsletter__text{}
.newsletter__text h3{}
.newsletter__text p{}
.newsletter__form-area{}
.newsletter__form-area form{}
.newsletter__form-area input{}
.newsletter__form-area input[type="email"]{}
.newsletter__form-area input[type="submit"]{}

/* Footer */
#footer{}
#footer .container{}
.footer__widgets{}
.footer__widget{}
.footer__widget h3{}
.footer__widget p{}
.footer__widget ul{}
.footer__widget ul li{}
.footer__widget ul li a{}
.footer__widget .footer__social{}
.footer__widget .footer__social ul{}
.footer__widget .footer__social ul li{}
.footer__widget .footer__social ul li a{}
.footer__widget .footer__social ul li a i{}